In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
DATA_DIR = (Path.cwd() / ".." / "Data").resolve()

In [3]:
assert (DATA_DIR / "CH 2020-2021.csv").exists()
assert (DATA_DIR / "metervalues_pseudonymized_1_neu.csv").exists()
assert (DATA_DIR / "metervalues_pseudonymized_2_neu.csv").exists()

In [29]:
meter_1 = pd.read_csv(DATA_DIR / "metervalues_pseudonymized_1_neu.csv", delimiter=";")
# Clean extra row of headers
meter_1 = meter_1[meter_1["id"] != "id"]

/Users/cmutel/miniconda3/envs/bw2dev38/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (0,2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [30]:
meter_1

,id,Chargepoint,connector,charge_log_id,metervalue,increment,timestamp
0,1057264,1.0,1,2188,155260,920,01.01.2021 00:15
1,978733,2.0,1,2190,2213880,0,01.01.2021 00:15
2,978738,3.0,1,2195,3081670,0,01.01.2021 00:15
3,978742,4.0,1,2194,1463670,0,01.01.2021 00:15
4,978746,5.0,1,1923,1836900,0,01.01.2021 00:15
...,...,...,...,...,...,...,...
859604,350009,171.0,178d3d4a-065b-4c88-9e1e-a10270de3f44,7e65baf2-14cf-4ffe-bd81-0331196f88ef,1216190,0,01.07.2020 00:00
859605,350013,193.0,3dd6a395-2a41-42df-a36e-898f309f12e5,0761b481-0df6-4880-ac10-7fbe09b57b5d,1192770,0,01.07.2020 00:00
859606,350017,202.0,839f5511-f507-4966-821c-366cbd76fb3b,14c417d1-c609-4fde-9502-ca1f146bfb60,795090,0,01.07.2020 00:00
859607,350021,205.0,b172ddeb-6201-4cec-b345-801ca4c8d0bd,1cf9e5cc-1685-46dc-bf42-c95bc8e1ec6b,1399640,2780,01.07.2020 00:00
859608,350025,204.0,ac189605-690b-4788-8c55-b6c22ac3f6e2,092dbb8b-1e60-4dde-8b81-03a4c063970f,816010,0,01.07.2020 00:00

In [31]:
meter_1["id"] = pd.to_numeric(meter_1["id"])
meter_1["timestamp"] = pd.to_datetime(meter_1["timestamp"])
meter_1["Chargepoint"] = meter_1["Chargepoint"].apply(int)
meter_1["metervalue"] = pd.to_numeric(meter_1["metervalue"])
meter_1["increment"] = pd.to_numeric(meter_1["increment"])

In [32]:
meter_2 = pd.read_csv(DATA_DIR / "metervalues_pseudonymized_2_neu.csv", 
                      delimiter=";", 
                      header=0)

/Users/cmutel/miniconda3/envs/bw2dev38/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3169: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [33]:
meter_2["id"] = pd.to_numeric(meter_2["id"])
meter_2["timestamp"] = pd.to_datetime(meter_2["timestamp"])
mask = meter_2["Chargepoint"].isnull()
meter_2["Chargepoint"][mask] = 42
meter_2["Chargepoint"] = meter_2["Chargepoint"].apply(int)
meter_2["metervalue"] = pd.to_numeric(meter_2["metervalue"])
meter_2["increment"] = pd.to_numeric(meter_2["increment"])

<ipython-input-33-3612a84dc8b8>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meter_2["Chargepoint"][mask] = 42

In [34]:
meter = pd.concat([meter_1, meter_2])

In [35]:
meter.dtypes

id                        int64
Chargepoint               int64
connector                object
charge_log_id            object
metervalue                int64
increment                 int64
timestamp        datetime64[ns]
dtype: object

meter

In [36]:
meter

,id,Chargepoint,connector,charge_log_id,metervalue,increment,timestamp
0,1057264,1,1,2188,155260,920,2021-01-01 00:15:00
1,978733,2,1,2190,2213880,0,2021-01-01 00:15:00
2,978738,3,1,2195,3081670,0,2021-01-01 00:15:00
3,978742,4,1,2194,1463670,0,2021-01-01 00:15:00
4,978746,5,1,1923,1836900,0,2021-01-01 00:15:00
...,...,...,...,...,...,...,...
315492,978722,25,1,2201,478370,0,2021-01-01 00:00:00
315493,978724,26,1,1965,252472,0,2021-01-01 00:00:00
315494,978728,28,1,2199,332544,1173,2021-01-01 00:00:00
315495,982914,29,1,2197,805520,0,2021-01-01 00:00:00
315496,1057266,1,1,2188,154340,920,2021-01-01 00:00:00

In [37]:
meter_1 = meter_2 = None